/* ----- Global Styles ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
background: #f4f4f4;
color: #222;
}

a {
text-decoration: none;
}


/* ------------ Header ------------ */

header{
    width: 100%;
    padding: 20px 40px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    color: #0a66c2;
}

nav ul{
    display: flex;
    gap: 25px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: #222;
    font-weight: 500px;
}

/* ----- Header close ----- */

/* ----- Hero section ----- */

.hero{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    padding: 60px 40px;
    gap: 40px;
    background: linear-gradient(to right, #0a66c2, #004f99);
    color: #fff;
}

.hero-text h1 {
    font-size: 42px;
    line-height: 1.3;
}

.hero-text p {
    margin: 20px 0;
    font-size: 18px;
}

.btn-primary{
    background-color: #fff;
    color: #0a66c2;
    padding: 14px 28px;
    border-radius: 8px;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #dbe7ff;
}

.hero img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* ----- Hero section close ----- */


/* ------------ Product Features ------------ */
.features {
    padding: 60px 40px;
    text-align: center;
}


.features h2 {
    font-size: 32px;
    margin-bottom: 20px;
}


.feature-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}


.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}


.card:hover {
    transform: translateY(-5px);
}


.card h3 {
    margin-bottom: 10px;
}

/* ------------ Product Features close ------------ */


/* ------------ Pricing ------------ */
.pricing {
    padding: 60px 40px;
    background: #fff;
    text-align: center;
}


.pricing-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}


.price-card {
    background: #f4f8ff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.price-card h3 {
    font-size: 24px;
}


.price {
    font-size: 36px;
    font-weight: 700;
    margin: 15px 0;
    color: #0a66c2;
}


.btn-buy {
    display: inline-block;
    margin-top: 20px;
    background: #0a66c2;
    color: #fff;
    padding: 12px 26px;
    border-radius: 8px;
    font-weight: 600;
}

/* ------------ Pricing close ------------ */

/* ------------ Footer ------------ */
footer {
    margin-top: 60px;
    background: #0a66c2;
    padding: 30px;
    text-align: center;
    color: #fff;
}


/* ------------ Responsive Fix ------------ */
    @media (max-width: 500px) {
    .hero-text h1 {
    font-size: 32px;
    }
    nav ul {
    display: none;
    }
}